<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Ginger &amp; Scott</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet" type="text/css">
    <link href="/css/default.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <a href="/" class="navbar-brand">The Official Ginger &amp; Scott</a>
        <ul class="nav navbar-nav">
          <li $if(ginger-active)$ class="active" $endif$><a href="/ginger">Ginger</a></li>
          <li $if(scott-active)$ class="active" $endif$><a href="/scott">Scott</a></li>
          <li $if(events-active)$ class="active" $endif$><a href="/events">Events</a></li>
          <li $if(shop-active)$ class="active" $endif$><a href="/shop">Shop</a></li>
          <li $if(press-active)$ class="active" $endif$><a href="/press">Press</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      $body$
      <div class="footer">
        <!-- This site is happily powered by <a href="http://zyghost.com">Schell Scivally</a> -->
      </div>
    </div>
  </body>
</html>
