<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->

    <title>Ginger &amp; Scott</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
    <link href="/css/splash.css" rel="stylesheet">
  </head>

  <body>

    <div class="container-fluid">
      <div class="header text-center">
        <div class="row">
          <h1>The Official Ginger &amp; Scott</h1>
        </div>
        <div class="row">
          <img src="/images/duobadge.png" alt="ginger and scott" />
        </div>

      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="links row">
            <a href="/ginger">Ginger</a>
            <a href="/scott">Scott</a>
            <a href="/events">Events</a>
            <a href="/shop">Shop</a>
            <a href="/press">Press</a>
          </div>
          <div class="copy text-left">
            $body$
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
</html>
